html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#controls {
    display: flex;
    flex-direction: column;
}

#io {
    flex-grow: 1;
}

#program {
    flex-grow: 1;
    flex-basis: 100%;
}

#source {
    font-family: monospace;
    font-size: 100%;
    white-space: pre-wrap;
}

#input {
    font-family: monospace;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.ip {
    background-color: yellow;
}

.modified {
    color: red;
}

.target {
    background-color: red;
    color: white;
}

.error {
    background-color: red;
    color: white;
}