html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#controls {
    display: flex;
    flex-direction: column;
}

#ioBox {
    flex-grow: 1;
    display: flex;
}

#program {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 2pt;
    overflow:auto;
}

#source {
    font-size: 100%;
    white-space: pre-wrap;
}

#input {
    font-size: 100%;
    width: calc(100% - 4pt);
    height: calc(100% - 4pt);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

* {
    font-family: monospace;
    background-color: black;
    color: lime;
}

#description {
    margin: 2pt;
    border: 1px solid lime;
    padding: 2pt;
}

button {
    border: 1px solid lime;
    margin: 2pt;
}

button:hover:enabled, button:focus {
    background-color: green;
}

button:active:enabled {
    color:black;
    background-color: lime;
}

button:disabled {
    color: green;
    border: 1px solid green;
}

.emphasize {
    background-color: green;
}

.attention {
    background-color: lime;
    color: black;
}

table {
    background-color: lime;
    border-spacing: 1px;
    margin: 2pt;
    width: calc(100% - 4pt);
}

th, td {
    background-color: black;
    padding: 2pt;
}

th.horizontal {
    text-align: left;
}

#memory td {
    padding: 1pt;
}

td {
    text-align:right;
}
