@font-face {
    font-family: 'Cascadia Mono';
    src: url(./CascadiaMonoPL-SemiLight.otf) format("opentype");
}

@font-face {
    font-family: 'Cascadia Mono';
    src: url(./CascadiaMono-Bold.otf) format("opentype");
    font-weight: bold;
}

:root {
    /* Lime (default) */
    --fg: #00ff00;
    --sfg: #008000;
    --sbg: #008000;
    --bg: #000000;
    --filter: none;
}

:focus {
    outline: 2px solid var(--fg);
    outline-offset: 2px;
}

html, body {
    margin: 0;
}

.controls {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.controlFooter {
    margin: 0.5em 0.25em 0.5em 0.25em;
    border-top: 1px solid var(--sfg);
    color: var(--sfg);
}

.program {
    overflow: auto;
    height: 30em;
}

.source {
    font-size: 100%;
    white-space: pre;
}

.input {
    font-size: 100%;

    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;

    resize: none;
    outline: 0px;
}

.width100 {
    width: 100%;
    display: block;
}

.width100inline {
    width: 100%;
}

.centerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBox {
    background-color: var(--fg);
    filter: drop-shadow(0em 0em 0.5em var(--fg));

    padding: 1px;
    max-height: 100vh;
    overflow: auto;
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    background-color: var(--bg);
    animation-name: fadeOut;
    z-index: 60;
}

.messageHeader {
    padding: 0.25em;
    text-align: center;
}

.messageHeader, .messageHeader a {
    color: var(--bg);
}

.messageClose {
    float: right;
    font-size: 80%;
    margin: 0px;
}

.messageBody {
    background-color: var(--sbg);
    padding: 0.5em 1em;
}

.messageBody button:not(.messageClose) {
    padding: 0.5em;
    margin: 0.25em 0;
    border-width: 2px;
    border-style: solid;
    display: block;
    width: 100%;
}

.messageBody pre {
    padding: 0.25em;
    border: 1px solid var(--fg);
    overflow-x: auto;
}

.messageBody code {
    font-weight: bold;
}

.messageBody pre > code {
    font-weight: normal;
}

.wide {
    max-width: 80em;
}

.narrow {
    max-width: 60em;
}

.narrowByDefault {
    width: 60em;
}

.browser {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    max-width: 80em;
}

.browserList {
    padding: 0 0.25em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.browserList > div, .itemList {
    background-color: var(--bg);
    border: 2px solid var(--fg);
}

.browserList p, .itemList p {
    padding: 0.05em 0.25em;
    margin: 0;
}

.browserList > p {
    font-weight: bold;
    padding: 0.25em 0;
}

.browserList > div > p, .itemList > p {
    border-bottom: 1px solid var(--fg);
    cursor: pointer;
}

.browserList .sub, .itemList .sub {
    color: var(--sfg);
}

.browserList .selected, .itemList .selected {
    background-color: var(--fg);
    color: var(--bg);
}

.browserList .selected .sub, .itemList .selected .sub {
    color: var(--bg);
}

.itemList span.editable {
    background-color: var(--sbg);
    color: var(--fg);
}

.browserView {
    margin-left: 1.25em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.browserView .browserContent {
    overflow-y: auto;
    flex-grow: 1;
    border-bottom: 3px solid var(--fg);
    margin-bottom: 0.5em;
}

.browserContent:focus {
    outline: none;
}

.browserView header {
    padding-bottom: 0.5em;
    border-bottom: 3px solid var(--fg);
}

.mailBrowser .browserList > div:last-of-type {
    flex-grow: 1;
}

.horizontalButtons {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
}

.horizontalButtons button:not(.messageClose) {
    flex-grow: 1;
    width: auto;
    padding: 0.25em;
    margin: 0px;
}

.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: var(--bg);
}

.hidden {
    display: none;
}

body, textarea, button, input, code, pre, select {
    font-family: 'Cascadia Mono', 'Consolas', monospace;
    font-size: 100%;
}

body, textarea, button, input, pre {
    background-color: var(--bg);
    color: var(--fg);
}

a, a:hover, a:visited, a:active {
    color: var(--fg);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label + label {
    margin-top: 0.5em;
}

input {
    accent-color: var(--fg);
}

label > input {
    margin: 0 0 0 0.5em;
}

label > input[type='checkbox'] {
    margin: 0 0.5em 0 0em;
}

label > input[type='checkbox'].right {
    margin: 0 0em 0 0.5em;
}

/* It's 2022 and we still can't directly style checkboxes!? */
input[type='checkbox']:not(:checked) {
    filter: saturate(0%) invert();
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--bg);
    border-radius: 0.5em;
    vertical-align: middle;
}

select {
    background-color: var(--bg);
    color: var(--fg);
}

.controls button {
    font-size: 85%;
    margin: 0.25em;
}

.controls button.normal {
    font-size: 100%;
    margin: 0.5em;
    padding: 0.25em;
}

button, input {
    border: 1px solid var(--fg);
}

button:hover:enabled {
    background-color: var(--sbg);
}

button:hover:enabled {
    filter: drop-shadow(0em 0em 0.33em var(--fg));
}

button:active:enabled {
    color:var(--bg);
    background-color: var(--fg);
}

button:disabled {
    color: var(--sfg);
    border: 1px solid var(--sfg);
}

.deemphasize {
    color: var(--sfg);
}

.emphasize {
    background-color: var(--sbg);
}

.attention {
    background-color: var(--fg);
    color: var(--bg);
}

.mark {
    text-decoration: underline;
}

table {
    background-color: var(--fg);
    border-spacing: 1px;
    margin: 0.25em;
    width: calc(100% - 0.5em);
}

th, td {
    background-color: var(--bg);
    padding: 0.25em;
}

.achievement {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.achievement > img {
    flex-grow: 0;
    display: block;
    border: 2px solid var(--fg);
    margin-right: 0.25em;
}

.achievement p {
    text-align: left;
    margin: 0.5em;
}

.achievement p.title {
    font-weight: bold;
    text-transform: uppercase;
}

.achievement > img, .toast > img {
    filter: var(--filter);
}

.messageBox table {
    width: auto;
    margin: auto;
}

th.horizontal {
    text-align: left;
}

td.text {
    text-align: left;
}

td.center {
    text-align: center;
}

#asciitable {
    margin-left: 0px;
    margin-bottom: 1em;
}

#asciitable th {
    background-color: var(--sbg);
}

#asciitable th:first-child {
    text-align: right;
}

.state {
    overflow-y: auto;
}

.memory td {
    padding: 1pt;
    font-size: 80%;
}

td {
    text-align: right;
}

li {
    margin: 0.5em 0em;
}

h3 {
    text-transform: uppercase;
}

.version {
    position: absolute;
    right: 1em;
    font-size: 80%;
}

.logo {
    font-size: 300%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.creditSubtitle {
    margin-top: 0px;
    text-align: center;
}

.creditFooter {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--fg);
}

pre.licenses {
    margin: 0px;
    font-size: 80%;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 40em;
}

.chart {
    background-color: var(--bg);
    margin: 0.25em;
    width: 15em;
    height: 19em;
}

table.stats {
    margin: 0.25em;
    width: 15em;
    display: inline-table;
}

rect {
    fill: var(--fg);
}

rect.chartInvisible {
    opacity: 0;
}

text {
    fill: var(--sfg);
    font-size: 1.4px;
    font-family: 'Cascadia Mono', 'Consolas', monospace;
    font-weight: bold;
}

.charts {
    text-align: center;
}

.chartLeft {
    text-anchor: start;
}

.chartRight {
    text-anchor: end;
}

.chartTitle {
    text-anchor: middle;
    fill: var(--bg);
}

.chartOverlay {
    text-anchor: middle;
    fill: var(--sbg);
}

line {
    stroke: var(--sfg);
    stroke-width: 0.2;
}

.chartLine {
    fill: none;
    stroke: var(--sfg);
    stroke-width: 0.25;
}

.chartArrow {
    fill: var(--fg);
    stroke: none;
}

/* Notifications */
.toast {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 25;
    border: 2px solid var(--fg);
    padding: 0.5em;
    background-color: var(--sbg);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    filter: drop-shadow(0em 0em 0.25em var(--fg));

    animation-name: toastUp;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.toast img {
    border: 1px solid var(--fg);
}

.toast section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toast section p {
    margin-top: 0.5em;
    margin-bottom: 0px;
}

.toast header {
    font-weight: bold;
}

@media (min-width: 50em) {
    html, body {
        height: 100%;
    }

    #root {
        height: 100%;
    }

    .ide {
        display: flex;
        flex-direction: row;
        height: 100%;
        column-gap: 1em;
    }

    .ioBox {
        flex-grow: 1;
        overflow-y: auto;
    }

    .program {
        flex-grow: 1;
        flex-basis: 80%;
        overflow: auto;
        height: auto;
    }

    .state {
        flex-shrink: 0;
        overflow-y: scroll;
    }

    .bootScreen {
        max-height: 100vh;
        overflow: auto;
        text-shadow: 0em 0em 0.5em var(--fg);
    }

    .memory td {
        font-size: 100%;
    }

    .chart {
        width: 20em;
        height: 25em;
    }

    table.stats {
        width: 20em;
    }
}

/* Scrollbar styling */
* {
    scrollbar-color: var(--fg) var(--bg);
}

::-webkit-scrollbar{
    width: 0.75em;
    height: 0.75em;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--fg);
}

::-webkit-scrollbar-corner {
    /* Background */
    background: var(--bg);
}

::-webkit-scrollbar-button {
    display: none;
}

/* Avoision mini-game */
.avoisionBox {
    border: 1px solid var(--fg);
    max-width: 80vmin;
    max-height: 80vmin;
    margin: auto;
    display: grid;
}

.avoision {
    display: block;
    width: 30em;
    height: 30em;
    max-width: 80vmin;
    max-height: 80vmin;
    grid-row: 1;
    grid-column: 1;
}

.avoisionOverlay {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    z-index: 1;
    font-size: 1.5em;
    background-color: var(--sbg);
    border: 1px solid var(--fg);
    padding: 0.25em;
    text-transform: uppercase;
    font-weight: bold;
    filter: drop-shadow(0em 0em 0.25em var(--fg));
}

.avoision:focus {
    outline: none;
}

.avoisionHeader {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.avoisionPoints {
    text-align: left;
    flex-grow: 1;
}

.avoisionScore {
    text-align: right;
    flex-grow: 1;
}

/* Animations */
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 500ms;
}

@keyframes fadeOut {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@keyframes fadeIn {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes toastUp {
    0% { transform: translateY(100px); opacity: 0.0; }
    17% { transform: translateY(0px); opacity: 1.0; }
    83% { transform: translateY(0px); opacity: 1.0; }
    100% { opacity: 0.0; }
}
